PORT_DB=5432
PORT=3000
DATABASE=vcb
USER_NAME=postgres
PASSWORD=postgres
POSTGRES_USER: "postgres"
POSTGRES_PASSWORD: "postgres"
POSTGRES_DB: "vcb"

#NoneDocker
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/vcb?schema=public"

#Docker
#DATABASE_URL="postgresql://postgres:postgres@db:5432/vcb?schema=public"